<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello Cars</title>
</head>
<body>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Engine</th>
                <th scope="col">Series</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="crs : ${cars}">
                <td th:text="${crs.getModel()}"/>
                <td th:text="${crs.getEngine()}"/>
                <td th:text="${crs.getSeries()}"/>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>